@use '../../../styles/_variables' as variables;
@use '../../../styles/_button' as button;

.tasks-list {
    width: 100%;
    min-height: 300px;
    background-color: variables.$white;
    color: variables.$grey;
    border-radius: 15px;
    padding: 10px;
}

.task {
    border: 3px, variables.$blue, dashed;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    overflow-wrap: break-word;
    font-size: smaller;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
  color: variables.$white;
  background-color: variables.$blue;
}

.control-buttons {
    display: flex;
    justify-content: right;
    gap: 30px;
}

.body-task {
    margin-left: 46px;
}

dialog {
    width: 90%;
    max-width: 30rem;
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 1rem;
    top: 5rem;
}