@use '../../../styles/_variables' as variables;
@use '../../../styles/_button' as button;
@use '../../../styles/theme' as *;

:host-context(.dark-theme) {
  @include apply-theme($dark-theme);
}


.tasks-list {
    width: 100%;
    min-height: 300px;
    border-radius: 15px;
    padding: 10px;
}

.task {
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    overflow-wrap: break-word;
    font-size: smaller;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.control-buttons {
    display: flex;
    justify-content: right;
    gap: 30px;
}

.body-task {
    margin-left: 46px;
}

dialog[open] {
    z-index: 1000;
    overflow: auto;
    width: 90%;
    max-width: 30rem;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    top: 5rem;
}