@use '../../../styles/_variables' as variables;
@use '../../../styles/theme' as *;

:host-context(.dark-theme) {
  @include apply-theme($dark-theme);
}


.categories{
  display: flex;
}

button {
  margin: 10px;
  font: inherit;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 0.35rem 0.8rem;
  font-size: small;
}

.control {
  align-self: flex-end;
  margin-top: 20px;
}